.main-header{
  height: var(--header-height);
  background-color: #fff;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  @include from(lg){
    justify-content: flex-start;
    column-gap: 2%;
    padding-left: 6%;
    padding-right: 6%;
  }

  &__logo{
    display: block;
    width: 80%;
    height: auto;
    max-width: 200px;
    img{
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
.main-menu{
  // display: none;
  position: absolute;
  top: var(--header-height);
  left: 0;
  width: 100%;
  background: var(--color-main);
  color: var(--body-bg);
  padding-left: 1em;
  padding-right: 1em;
  // text-transform: uppercase;
  overflow: hidden;
  max-height: 0;
  transition: max-height .5s;
  &.is-active{
    max-height: 17em;

  }
  li{
    line-height: 3em;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: 1px solid rgba(#fff,.05);
    &:last-child{
      border-bottom: none;
    }
  }
  a{
    display: block;
  }
  @include from(lg){
    max-height: unset;
    display: flex;
    position: static;
    background: none;
    color: inherit;
    padding-left: 0;
    padding-right: 0;
    li{
      padding: 0;
      padding-right: 1em;
      &:last-child{
        padding-right: 0;
      }
    }
  }
}
