.About{
  &__image {
    img {
      border-radius: 1em;
      box-shadow: 0 14px 54px 0 rgb(11 11 44 / 22%);
      max-width: 80%;
      margin: 0 auto 2em;
      @include from(l) {
        max-width: unset;
        width: 100%;
        margin: unset;
      }
    }
  }
  &__text{

  }
  &__buttons{
    display: flex;
    justify-content: center;
    column-gap: 5%;
    // margin-bottom: 2em;

    @include from(l) {
      justify-content: flex-start;
      margin-bottom: 0;
    }
  }
}
