.Contact{
  --padding: 2em;
  @include from(lg){
    --padding: 4em;
  }
  @media screen and (min-width:1024px) and (orientation: portrait) {
    --padding:6em;
  }
  &__card{
    position: relative;
    padding: var(--padding);
  }
  .col-2{
    column-gap: 2em;
  }
  .img-mail{
    position: absolute;
    top: var(--padding);
    right: var(--padding);
  }
  .form{
    margin-bottom: 0;
  }
  .input-group{
    margin-bottom: 1em;
    @include from(lg){
      margin-bottom: 2em;
    }
  }
  label{
    margin-bottom: .5em;
  }
  input{
    line-height: 2em;
    padding: 0 .5em;
    @include from(lg){
      line-height: 2.5em;
    }
    @media screen and (min-width:1024px) and (orientation: portrait) {
      line-height: 4em;
    }
  }
  textarea{
    height: 6em;
    padding:.5em;
    line-height: 1.1em;
    resize: none;
    @include from(lg) {
      height: 7em;
    }
    @media screen and (min-width:1024px) and (orientation: portrait) {
      height: 15em;
      // background-color: aqua;
    }
  }
  input, textarea{
    border: 1px solid rgba(#000,.3);
    border-radius: .3rem;
    font-size: 1em;
    @include from(lg) {
      font-size: .8em;
    }
  }
  &__footer{
    display: grid;
    row-gap: 1em;
    @include from(lg){
      row-gap: unset;
      column-gap: 5%;
      grid-template-columns: auto 1fr;

    }
    .notes{
      order: 1;
      display: none;
      text-align: center;
      align-items: center;
      justify-content: center;
      @include from(lg){
        font-size: .9em;
      }
      @include from(xl){
        font-size: .7em;
      }
      &.show{
        display: flex;
      }
      &.success{
        color: darkgreen !important;
      }
      &.error{
        color: darkred !important;
      }
      p{
        display: none;
        margin-bottom: 0;
        @include from(lg){
          font-size: 1.2em;
          text-align: center;
        }
      }
      p.show{
        display: block;
      }

    }
    .img-loading{
      display: none;
      visibility: hidden;
      opacity: 0;
      height: 3em;
      width: auto;
      margin: 0 auto;
      transition: .3s;
      &.show{
        display: block;
        visibility: visible;
        opacity: 1;
      }
    }

    button{
      order: 0;
      display: block;
      margin: 0 auto;
    }
  }
}
