.Courses{
  // display: none;

  &__header{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    // background-color: lime;
    margin-bottom: 2em;
    @include from(l){
      margin-bottom: 5vh;
    }
    h2{
      margin-bottom: 0;
    }

  }

}
.card{
  background-color: #fff;
  // margin-bottom: 1.5em;
  width: 80%;
  margin: 0 auto 1.5em;
  border: 1px solid rgba(#000, .3);
  border-radius: 1em;
  overflow: hidden;
  &:last-child{
    margin-bottom: 0;
  }
  @include from(lg) {
    width: 100%;
    margin-bottom: 0;
  }
  figcaption{
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p{

    padding: 0 1em;
    &.card-body{
      font-size: 95%;
    }
  }
  footer{
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    position: relative;
    padding-right: 1em;
    &:before{
      content: '';
      width: calc(100% - 2em);
      height: 1px;
      background-color: rgba(#000,.3);
      position: absolute;
      display: block;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    p{
      margin-bottom: 0;
      // font-size: 90%;
      &::after{
        content: '.00';
      }
      &::before{
        content: '$ ';
      }
    }
  }
}
