.Why{
  > h2{
    margin-bottom: 2em;
  }
  &__container{
    column-gap: 5em;
  }
  .left-side{
    margin-bottom: 2em;

      &:last-child {
        margin-bottom: 0;
      }

      @include from(lg) {
        margin-bottom: 0;
        position: relative;
        &::after{
          content: '';
          position: absolute;
          display: block;
          width: 1px;
          height: 100%;
          background: rgba(#000,.3);
          top:0;
          right: 0;
          transform: translateX(2.5em);
        }
      }
  }
  &__item{
    // background-color: lime;
    padding: 0 1em;
    // border: 1px solid #000;
    margin-bottom: 2em;
    &:last-child{
      margin-bottom: 0;
    }
    @include from(lg){
      margin-bottom: 0;
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: star;
      column-gap: 2vw;
      margin-bottom: 2em;
    }
    img{
      margin: 0 auto;
    }
    h2{
      margin: .5em 0 1em;
      // line-height: 2em;
      margin-bottom: .5em;
      line-height: 1;
      @include from(lg){
        font-size: 1.4em !important;
        // font-size: 1.5vw;
      }

    }
    p{
      margin-bottom: 0;
      font-size: 1.1em;
    }
  }
}
