---
---

<section class="History" id="historia">
  <div class="text">
    <h1 data-aos="fade-right" data-aos-delay="0">Nuestra Historia</h1>
    <h2 data-aos="fade-right" data-aos-delay="100">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit blandit vitae
      egestas seam
    </h2>
    <p data-aos="fade-right" data-aos-delay="150">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit blandit vitae
      egestas sed aliquam amet ultrices dui. Cras turpis fringilla vel, amet,
      rhoncus quis. Feugiat sed nulla tincidunt blandit in morbi dolor metus
      orci. Vestibulum eleifend.
    </p>
    <p data-aos="fade-right" data-aos-delay="200">
      Et hendrerit quisque purus enim luctus amet ultrices non amet. Et enim
      curabitur a, dui, consequat. Id erat vitae lorem eget amet. Varius
      accumsan massa suspendisse adipiscing.
    </p>
  </div>
  <img
    data-aos="zoom-in"
    data-aos-delay="200"
    src="/img/image-our-story.jpg"
    alt="nuestra historia"
  />
</section>
