---

---
<section class="section Nosotros__main">
  <h1>La misión detrás de <span>Academy.</span></h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra tristique laoreet ut elementum cras cursus.
  </p>
  <a href="#historia" class="btn btn-blue">Nuestra Historia</a>
</section>
