.Card{
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid rgba(#000,.3);
  background-color: #fff;
  border-radius: 1em;
  box-shadow: 0 14px 54px 0 rgb(11 11 44 / 22%);
  position: relative;
  @include from(lg){
    max-width: 60vw;
    padding: 3em;
  }
  @media screen and (min-width:1024px) and (orientation: portrait) {
    max-width: 90%
  }
}
