---
---

<ul class="main-footer__social">
  <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
  <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
  <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
  <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
  <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
</ul>
