---
const path = "/";
---

<div id="Banner">
  <section class="section Banner">
    <div class="Banner__container col-2">
      <div class="Banner__text">
        <h2>¡Haz crecer tu carrera! Empieza a aprender con Academy.</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odio quisque
          integer elementum egestas aliquet tincidunt
        </p>
        <div class="Banner__buttons">
          <button class="btn btn-light">Nuestros Cursos</button>
        </div>
      </div>
      <div class="Banner__image">
        <img src={`${path}img/fondo1.png`} alt="" />
      </div>
    </div>
  </section>
</div>
