---
const path = '/';
---

<section class="section Main">
  <div class="Main__container col-2">
    <div class="Main__text">
      <h1>Crece tus Habilidades, <span>define tu futuro</span></h1>
      <p>
        Presentamos CEAcademy, la escuela del futuro. Te enseñamos las
        habilidades adecuadas para estar preparado para el mañana.
      </p>
      <div class="Main__buttons">
        <!-- <a href="/nosotros" class="btn btn-dark">Sobre nostros</a> -->
        <a href="/trading" class="btn">Estudios en trading</a>
      </div>
    </div>
    <div class="Main__image">
      <img src={`${path}img/home1.jpeg`} alt="" />
    </div>
  </div>
</section>
