---
const path = "/";
---

<section class="section Main">
  <div class="Main__container col-2">
    <div class="Main__text">
      <h1 data-aos="fade-right">
        Crece tus Habilidades, <span>define tu futuro</span>
      </h1>
      <p data-aos="fade-right" data-aos-delay="100">
        Presentamos CEAcademy, la escuela del futuro. Te enseñamos las
        habilidades adecuadas para estar preparado para el mañana.
      </p>
      <div class="Main__buttons" data-aos="flip-left" data-aos-duration="3000">
        <!-- <a href="/nosotros" class="btn btn-dark">Sobre nostros</a> -->
        <a href="/trading" class="btn">Estudios en trading</a>
      </div>
    </div>
    <div class="Main__image" data-aos="fade-left">
      <img src={`${path}img/home1.jpeg`} alt="" />
    </div>
  </div>
</section>
