---

const path = '/';
---
<div id="Testimony">
  <section class="section Testimony">
    <div class="Testimony__container col-2">
      <div class="Testimony__text">
        <h2>CE Academy me ayudó a aprender las habilidades para conseguir el trabajo de mis sueños.</h2>
        <p>
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odio quisque integer elementum egestas aliquet tincidunt. Nunc mauris enim tortor libero viverra aenean. Portitor semper facilisi velit."
        </p>
        <p>Alfonso García</p>
      </div>
      <div class="Testimony__img">
        <img src={`${path}img/testimony.jpg`} alt="">
      </div>
    </div>
  </section>
</div>
